<div class="page-header">
  <h1>Image Classification <small><b>Rose</b> or <b>Daisy</b>?</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information about the project</h3>
  </div>
  <div class="panel-body">
    This project is an example of image classification created by training an artificial neural network on a few hundred images or roses and daisies.<br />
    <b>Created by: Martina Grgić & Ivana Pristavnik (Faculty of Electrical Engineering, Computer Science and Information Technology in Osijek)</b>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Used technologies</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Tensorflow</li>
      <li class="list-group-item">Python</li>
      <li class="list-group-item">Keras library</li>
      <li class="list-group-item">ASP.NET Core 2.1</li>
      <li class="list-group-item">Angular 5</li>
    </ul>
  </div>
</div>


