<div class="page-header">
  <h1>Image Classification <small>Upload image of <b>Rose</b> or <b>Daisy</b></small></h1>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Choose File</h3>
  </div>
  <div class="panel-body">
    <input class="upload" type="file"
           accept="image/jpg"
           [disabled]="isRequesting"
           (change)="handleFileInput($event.target.files)">
  </div>
</div>

<div *ngIf="result">
  <h2>Uploaded picture is: <b> {{ result }} </b></h2>
</div>
<app-spinner [isRunning]="isRequesting"></app-spinner>
